@import '~arduino-sass/src/fonts';
@import '~arduino-sass/src/variables';

:root {
    --main-bg-color: #{$clouds};
    --timer-border-color: #{$teal2};
    --timer-outline-color: #{$teal7};
    --timer-text-color: #{$teal5};
    --timer-elapsed-color: #{$teal0};
}

body {
    background-color: var(--main-bg-color);
    @include font(opensans);
    @include font(opensans, semi-bold);
    padding: 0 20px;
    color: var(--timer-text-color);
}

.timer {
    display: block;
    border: 1px solid var(--timer-border-color);
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;

    &--active {
        box-shadow: var(--timer-outline-color) 0px 0px 0 3px;
    }
    
    &__text {
        position: relative;
        padding: 10px;
        line-height: 20px;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }

    &__time {
        text-transform: capitalize;
    }

    &__elapsed {
        position: absolute;
        background-color: var(--timer-elapsed-color);
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
    }
}

@include import-fonts;